@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bgimage{
  background-image: url("./bgimage.png");
  background-size: cover;
  background-repeat: no-repeat;

}


.skeleton-loader {
  width: 25px; /* Adjust width as needed */
  height: 25px; /* Adjust height as needed */
  background: #ccc; /* Adjust background color as needed */
  border-radius: 50%; /* For a circular loader, adjust as needed */
  animation: loading 1s infinite; /* Add animation for a loading effect */
  margin-right: 10px; /* Adjust margin as needed for spacing */
}

.skeleton-lines {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap as needed */
}

.line {
  width: 50px; /* Adjust width of lines as needed */
  height: 5px; /* Adjust height of lines as needed */
  background: #ccc; /* Adjust line color as needed */
  animation: loading 1s infinite; /* Add animation for a loading effect */
}

@keyframes loading {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}